<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if data is defined %}
<h1>{{ data['Name']}}</h1>
<p>{{ data['Text'] }}</p>
{% endif %}
<form method="post" action="/API/puter">
    <label for="Name">Input Name</label>
    <input id="Name" name="Name" type="text">
    <label for="Text">Input text</label>
    <input id="Text" name="Text" type="text">
    <input type="submit">
</form>
</body>
</html>